<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.animal.mapper.ChatMapper">

    <select id="getChatRoomList" resultType="ChatRoomDTO" parameterType="Long">
        SELECT
            cr.room_idx, -- 채팅방 ID
            CASE
                WHEN cr.create_user_idx = #{userIdx} THEN cr.invited_user_idx -- 상대방의 ID
                ELSE cr.create_user_idx
                END AS opponent_idx, -- 상대방 ID
            CASE
                WHEN cr.create_user_idx = #{userIdx} THEN u2.user_name -- 상대방 이름
                ELSE u1.user_name
                END AS opponent_name, -- 상대방 이름
            CASE
                WHEN cr.create_user_idx = #{userIdx} THEN u2.user_profile_url -- 상대방 프로필 URL
                ELSE u1.user_profile_url
                END AS opponent_profile_url, -- 상대방 프로필 URL
            cr.created_at -- 채팅방 생성 시간
        FROM
            tb_chatRoomList cr
                JOIN tb_user u1 ON cr.create_user_idx = u1.user_idx
                JOIN tb_user u2 ON cr.invited_user_idx = u2.user_idx
        WHERE
            cr.create_user_idx = #{userIdx} OR cr.invited_user_idx = #{userIdx}

    </select>

    <select id="getChatRoomDetail" resultType="ChatRoomDetailDTO" parameterType="Long">
        SELECT * FROM tb_chatRoomDetail WHERE room_idx = #{roomIdx}
    </select>

    <insert id="sendMessage" parameterType="SendMessageDTO">
        INSERT INTO tb_chatRoomDetail(sender_idx, message, sent_at, room_idx)
        VALUES(
                  #{senderIdx},
                  #{message},
                  #{sentAt},
                  #{roomIdx}
              )
    </insert>
</mapper>