<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.animal.mapper.NotificationMapper">

    <!-- 알림 추가 -->
    <insert id="insertNotification" parameterType="com.project.animal.dto.notification.NotificationDto">
        INSERT INTO tb_notifications (event_id, notify_time, is_sent)
        VALUES (#{eventId}, #{notifyTime}, #{isSent})
    </insert>
</mapper>
